Language: Cpp

# INDENT AND COLUMN
IndentWidth: 4
UseTab: Never
ColumnLimit: 80


# TEMPLATE
AlwaysBreakTemplateDeclarations: true


# FUNCTION
AlignAfterOpenBracket: Align
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: Empty
BinPackParameters: false
BinPackArguments: false


# BLOCK
AllowShortBlocksOnASingleLine: false


# IF
AllowShortIfStatementsOnASingleLine: false


# LOOP
AllowShortLoopsOnASingleLine: false


# SPACE
SpaceAfterCStyleCast: true
SpaceAfterTemplateKeyword: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInAngles: false
SpacesInCStyleCastParentheses: false
SpacesInContainerLiterals: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
Standard: Cpp11


# VARIABLE
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignOperands: false
AlwaysBreakBeforeMultilineStrings: false


# PREPROCESSING
AlignEscapedNewlines: Left


# COMMENT
AlignTrailingComments: true


# SWITCH
AllowShortCaseLabelsOnASingleLine: false